.author {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-bottom: 1px solid rgb(216, 216, 216);
  .avatar {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }
  .name {
    font-size: 14px;
    color: #f47b5a;
    font-weight: bold;
    margin-right: 10px;
  }
  .content {
    font-size: 14px;
    color: gray;
  }
}
